* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.ui{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #c7b09a;
}

.control {
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
  
input[type='color'] {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    background-color: #c7b09a;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #A57F5B;
}

input[type='color']:hover {
   transition: transform 0.05s ease-in-out;
   transform: translateY(-1px);
   box-shadow: 6px 6px 5px #A57F5B;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #A57F5B;
}

input{
    height: 30px;
    width: 160px;
    background-color: #ffffff;
    color: #3E3022;
    font-size: 1em;
    font-weight: lighter;
    box-shadow: 5px 5px 5px #A57F5B;
}

#hexColor{
    margin-top: 10px;
}

.control button {
    height: 30px;
    width: 160px;
    background-color: #c7b09a;
    color: #3E3022;
    font-size: 1.18em;
    font-weight: lighter;
}

.container{
    height: 560px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #F5F0EC;
    font-weight: bolder;
}

.gridContainer, .gridContainerShake {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: 0 15px 15px 10px #A57F5B;
}

button{
    width: 100%;
    background-color: #E0D3C7;
    box-shadow: 5px 5px 5px #A57F5B;
    border: 1px solid #15100B;
    border-radius: 8px;
    color: #808080;
    font-size: 1.5em;
    font-weight: bolder;
}

button:hover{
    background-color: #D6C5B5;
}

button:active{
    box-shadow: 2px 2px 5px #A57F5B;
	transform: translateY(1px);
}

.gridSquare {
    width: 6.25%;
    height: 6.25%;
    background-color: white;
}

/* Animations */

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    5% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    10% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    15% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    20% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    25% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    30% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    35% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    40% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    45% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    50% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
    55% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    60% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    65% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    70% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    75% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    80% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    85% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    90% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    95% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    100% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
}


.gridContainerShake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin:50% 50%;
}
